{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="beerDB_page_title">
	<h2 class="beerDB_title">Edit {{beer.name}}</h2>
</div>
<div class="mdl-grid beerDB_grids">
	<div class="mdl-card mdl-shadow--4dp beerDB_card">
		<form action="#" method = "post">
			<div class="mdl-textfield beerDB_textfield">
		    <input class="mdl-textfield__input" type="text" name="name" value="{{beer.name}}">
	  	</div>
			<div class="mdl-textfield beerDB_textfield">
				<textarea type ="text" class="mdl-textfield__input" name="description">{{beer.description}}</textarea>
	  	</div>
				<div class="beerDB_submit">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
						Save
					</button>
					<a href = '{{url_for('showBeers', beerType_id=beerType_id)}}'>
						<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
							Cancel
						</button>
					</a>
				</div>
		</form>
	</div>
</div>
{% endblock %}
