{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="beerDB_page_title">
<h1 class="beerDB_title">{{ beerType.type }}</h1>
</div>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
<div class="mdl-layout__header-row beerDB_page_title">
	<a href="{{url_for('newBeer', beerType_id=beerType.id)}}">
		<button class="mdl-button mdl-button--fab mdl-button--colored beerDB_submit">
		<i class="material-icons">add</i>
		</button>
	</a>
	<a href="{{url_for('delBeerType', beerType_id=beerType.id)}}">
		<button class="mdl-button mdl-button--fab mdl-button--colored beerDB_submit">
		<i class="material-icons">delete</i>
		</button>
	</a>
	<a href="{{url_for('editBeerType', beerType_id=beerType.id)}}">
		<button class="mdl-button mdl-button--fab mdl-button--colored beerDB_submit">
		<i class="material-icons">mode_edit</i>
		</button>
	</a>
</div>
<div class="mdl-grid beerDB_grids">
{% for beer in beers %}
	<div class="padding">
		<div class="mdl-card mdl-shadow--4dp beerDB_card">
			<div class="mdl-card__title mdl-card--expand">
				<h3 class="mdl-card__title-text">{{beer.name}}</h3>
			</div>
			<div class="mdl-card__supporting-text">{{beer.description}}</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="{{url_for('editBeer', beerType_id=beerType.id, beer_id=beer.id)}}">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
						Edit
					</button>
				</a>
				<a href="{{url_for('delBeer', beerType_id=beerType.id, beer_id=beer.id)}}">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
						Delete
					</button>
				</a>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
